NoSidebar: true
NoChildPages: true
Title: Support The Project ❤
---

<div class="row">
    <div class="col-md-6 mb-5">
        <h1>Sponsor Development</h1>

        <div class="text-center my-3">
            <i class="fad fa-heart fa-5x icon-red"></i>
        </div>
        <p>
            Tasty isn't developed by a big, faceless corporation or backed by mountains of venture capital.<br>
            It's mostly <a href="https://github.com/biohazard999" target="_blank">Manuel</a> and other awesome contributors spending lots of nights and weekends as a labor of love.
        </p>
        <p>
            Development and support of Tasty took off quickly and there are no plans to slow down.<br>
            In fact, there are some <strong>big plans</strong> for Tasty in the future.<br>
            I hope to have a GitHub Sponsor account specifically for the <a href="https://github.com/xenial-io" target="_blank">Xenial project</a> soon, but in the meantime if you appreciate this project and would like to show some support,
            please consider <a href="https://github.com/sponsors/biohazard999" target="_blank">sponsoring Manuel on GitHub Sponsors</a>.
        </p>
        <hr>
        <div class="text-center">
            <a class="btn btn-danger" href="https://github.com/sponsors/biohazard999">Sponsor Manuel on GitHub Sponsors</a>
        </div>
    </div>

    <div class="col-md-6 mb-5">
        <h1>Buy A Commercial-Use License</h1>

        <div class="text-center my-3">
            <i class="fad fa-check fa-5x icon-green"></i>
        </div>

        <p class="text-center"><strong>Comming soon!</strong></p>

    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-5">
        <h1>Become a Patreon</h1>

        <div class="text-center my-3">
            <i class="fad fa-heart fa-5x icon-red"></i>
        </div>
        <p>
            Tasty isn't developed by a big, faceless corporation or backed by mountains of venture capital.<br>
            It's mostly <a href="https://github.com/biohazard999" target="_blank">Manuel</a> and other awesome contributors spending lots of nights and weekends as a labor of love.
        </p>
        <p>
            Development and support of Tasty took off quickly and there are no plans to slow down.<br>
            In fact, there are some <strong>big plans</strong> for Tasty in the future.<br>
            If you don't want to contribute via GitHub Sponsor consider
            <a href="https://www.patreon.com/biohaz999" target="_blank">sponsoring Manuel on Patreon</a> instead!
        </p>
        <hr>
        <div class="text-center">
            <a class="btn btn-danger" href="https://www.patreon.com/biohaz999" target="_blank">Sponsor Manuel on Patreon</a>
        </div>
    </div>

    <div class="col-md-6 mb-5">
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-5">
        <h1>Buy me a Beer</h1>

        <div class="text-center my-3">
            <i class="fad fa-heart fa-5x icon-red"></i>
        </div>
        <p>
            Tasty isn't developed by a big, faceless corporation or backed by mountains of venture capital.<br>
            It's mostly <a href="https://github.com/biohazard999" target="_blank">Manuel</a> and other awesome contributors spending lots of nights and weekends as a labor of love.
        </p>
        <p>
            Development and support of Tasty took off quickly and there are no plans to slow down.<br>
            In fact, there are some <strong>big plans</strong> for Tasty in the future.<br>
            If you don't want to contribute via GitHub Sponsor consider buying
            <a href="https://www.buymeacoffee.com/mgrundner" target="_blank">Manuel a beer on buymeacoffee</a> instead!
        </p>
        <hr>
        <div class="text-center">
            <a class="btn btn-danger" href="https://www.buymeacoffee.com/mgrundner" target="_blank">Buy Manuel a beer on buymeacoffee</a>
        </div>
    </div>

    <div class="col-md-6 mb-5">
    </div>
</div>
