Title: Home
NoSidebar: true
NoTitle: true
---

<div class="teasor">   
    <div class="teasor__logo">
        <span>Tasty - Delicious dotnet testing</span>
        <img src="/assets/img/logo.svg" width="256" height="256" />
    </div>
     <ul class="teasor__buttons">
        <li><a href="~/docs/tutorials/10-getting-started.html">Get started</a></li>
        <li><a href="~/docs/">Docs</a></li>
        <li><a href="#">Get help</a></li>
    </ul>
    <div class="teasor_content">
        <p>Tasty is a delicious .NET Testing Framework with a focus on simplicity, great UX and extensibility.<br><br>
            It works with any project, but projects using: aspnetcore, Blazor ServerSide, Blazor WASM, console applications, XAF and more are the most delicious!
        </p>
    </div>
</div>